[run]
omit =
    */venv/*
    */virtualenv/*
    # osx library files when not running in virtualenv
    /Library/*
    /System/*
    django-polls/settings.py
    polls/migrations/*

[report]
ignore_errors = True
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:

[html]
title = Coverage Report
